<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edumate.boot.domain.notice.model.mapper.NoticeMapper">
	
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_BOARD WHERE BOARD_YN = 'Y'
	</select>
	
	<select id="getSearchTotalCount" resultType="_int">
		SELECT COUNT(*) FROM NOTICE_BOARD WHERE NOTICE_TITLE LIKE '%'||#{searchKeyword}||'%' AND BOARD_YN = 'Y'
	</select>
	<select id="selectNoticeList" resultType="Notice">
		SELECT * FROM NOTICE_BOARD WHERE BOARD_YN = 'Y' ORDER BY NOTICE_ID DESC
	</select>
	<select id="selectSearchList" resultType="Notice">
		SELECT * FROM NOTICE_BOARD WHERE NOTICE_TITLE LIKE '%'||#{searchKeyword}||'%' AND BOARD_YN = 'Y'
	</select>
	<select id="selectByOneNo" resultType="Notice">
			SELECT * FROM NOTICE_BOARD WHERE NOTICE_ID = #{noticeId}
	</select>
	<select id="selectPrevNotice" resultType="_int">
		SELECT MAX(NOTICE_ID) FROM NOTICE_BOARD WHERE NOTICE_ID <![CDATA[<]]> #{currentNoticeNo}
	</select>
		<select id="selectNextNotice" resultType="_int">
		SELECT MIN(NOTICE_ID) FROM NOTICE_BOARD WHERE NOTICE_ID <![CDATA[>]]> #{currentNoticeNo}
	</select>
</mapper>