<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edumate.boot.domain.teacher.model.mapper.TeacherMapper" >
	<select id="getTotalCount" resultType="_int">
		SELECT COUNT(*) FROM QUESTION
	</select>
	<select id="getSearchTotalCount" resultType="_int">
		SELECT COUNT(*) FROM QUESTION
		WHERE REPLACE(UPPER(QUESTION_TITLE), ' ', '') LIKE '%'||REPLACE(#{searchKeyword}, ' ', '')||'%'
        OR UPPER(QUESTION_CONTENT) LIKE '%'||REPLACE(#{searchKeyword}, ' ', '')||'%'		
	</select>
	<select id="selectQuestionList" resultType="Question">
		SELECT * FROM QUESTION ORDER BY QUESTION_NO ASC
	</select>
	<select id="selectSearchList" resultType="Question">
		SELECT * FROM QUESTION
		WHERE REPLACE(UPPER(QUESTION_TITLE), ' ', '') LIKE '%'||REPLACE(#{searchKeyword}, ' ', '')||'%'
        OR UPPER(QUESTION_CONTENT) LIKE '%'||REPLACE(#{searchKeyword}, ' ', '')||'%'	
		ORDER BY QUESTION_NO ASC
	</select>
</mapper>