<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.edumate.boot.domain.teacher.model.mapper.TeacherMapper" >
	<select id="getTotalCount" resultType="_int">
	    SELECT COUNT(*) FROM QUESTION
	    <where>
	        <if test="filter != null and filter != 'ALL'">
	            AND QUESTION_STATUS = #{filter}
	        </if>
	        AND QUESTION_YN = 'Y'
	    </where>
	</select>
    
	<select id="getSearchTotalCount" resultType="_int">
	    SELECT COUNT(*) FROM QUESTION
	    <where>
	        <if test="filter != null and filter != 'ALL'">
	            AND QUESTION_STATUS = #{filter}
	        </if>
	        
	        <if test="searchKeyword != null and searchKeyword != ''">
	            AND (
	                REPLACE(UPPER(QUESTION_TITLE), ' ', '') LIKE '%'||REPLACE(#{searchKeyword}, ' ', '')||'%'
	                OR REPLACE(UPPER(QUESTION_CONTENT), ' ', '') LIKE '%'||REPLACE(#{searchKeyword}, ' ', '')||'%'
	            )
	        </if>
	        AND QUESTION_YN = 'Y'
	    </where>
	</select>
    
	 <select id="selectQuestionList" resultType="Question">
	    SELECT * FROM QUESTION 
	    <where>
	        <if test="filter != null and filter != 'ALL'">
	            AND QUESTION_STATUS = #{filter}
	        </if>
	        AND QUESTION_YN = 'Y'
	    </where>
	    ORDER BY QUESTION_NO ASC
     </select>
    
	<select id="selectSearchList" resultType="Question">
	    SELECT * FROM QUESTION
	    <where>
	        <if test="filter != null and filter != 'ALL'">
	            AND QUESTION_STATUS = #{filter}
	        </if>
	        
	        <if test="searchKeyword != null and searchKeyword != ''">
	            AND (
	                REPLACE(UPPER(QUESTION_TITLE), ' ', '') LIKE '%'||REPLACE(#{searchKeyword}, ' ', '')||'%'
	                OR REPLACE(UPPER(QUESTION_CONTENT), ' ', '') LIKE '%'||REPLACE(#{searchKeyword}, ' ', '')||'%'
	            )
	        </if>
	        AND QUESTION_YN = 'Y'
	    </where>
	    ORDER BY QUESTION_NO ASC
	</select>
	
	<select id="selectOneByNo" resultType="Question">
		SELECT * FROM QUESTION WHERE QUESTION_NO = #{questionNo}
	</select>
	
	<select id="selectPrevQuestionNo" parameterType="_int" resultType="_int">
	    SELECT MAX(QUESTION_NO) 
	    FROM QUESTION
	    WHERE QUESTION_NO <![CDATA[<]]> #{currentQuestionNo}
	</select>
	
	<select id="selectNextQuestionNo" parameterType="_int" resultType="_int">
	    SELECT MIN(QUESTION_NO) 
	    FROM QUESTION
	    WHERE QUESTION_NO <![CDATA[>]]> #{currentQuestionNo}
	</select>
	<update id="deleteQuestion">
		UPDATE QUESTION SET QUESTION_YN = 'N' WHERE QUESTION_NO = #{questionNo}
	</update>
	<update id="changeQuestionStatus">
		UPDATE QUESTION 
	    SET QUESTION_STATUS = 
	        CASE 
	            WHEN QUESTION_STATUS = 'Y' THEN 'N'  WHEN QUESTION_STATUS = 'N' THEN 'Y'  ELSE QUESTION_STATUS                END
	    WHERE QUESTION_NO = #{questionNo}
	</update>
	<update id="updateQuestion" parameterType="Question">
	    UPDATE QUESTION 
	    SET 
	        QUESTION_TITLE = #{questionTitle, jdbcType=VARCHAR},  QUESTION_CONTENT = #{questionContent, jdbcType=VARCHAR} 
	    WHERE 
	        QUESTION_NO = #{questionNo}
	</update>
</mapper>